<p id="notice"><%= notice %></p>

<p>
  <strong>Domain:</strong>
  <%= @plane.domain %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @plane.picture %>
</p>

<%= link_to 'Edit', edit_plane_path(@plane) %> |
<%= link_to 'Back', planes_path %>
