<%= form_for(@skydiver) do |f| %>
  <% if @skydiver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skydiver.errors.count, "error") %> prohibited this skydiver from being saved:</h2>

      <ul>
      <% @skydiver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :last %><br>
    <%= f.text_field :last %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
