<h1>Listing flights</h1>

<table>
  <thead>
    <tr>
      <th>Day order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= flight.day_order %></td>
        <td><%= flight.status.name if flight.status %></td>
        <td><%= flight.created_at.strftime("%d/%m/%Y") %></td>
        <td>
            <% flight.skydivers do |skydiver| %>
            <td>1<%= skydiver.name %></td>
            <% end %>
        </td>
        <td><%= link_to 'Show', flight %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flight', new_flight_path %>
