<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pilot.name %>
</p>

<p>
  <strong>Last:</strong>
  <%= @pilot.last %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @pilot.picture %>
</p>

<%= link_to 'Edit', edit_pilot_path(@pilot) %> |
<%= link_to 'Back', pilots_path %>
